/* mulish font from google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* css font style */
* {
font-family: "Mulish", sans-serif;

}



.nav-container{
   /* border: 2px solid tomato;*/
    min-width: 20px;
    display: flex;
    align-items: center;
    /*border: 2px solid blue;*/
    width: 50%;
}


.nav-container img{
    width: 48px;
height: 56.008px;
}
.nav-container p{
    color: #131318;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.special{
    color: #FF5400;
    font-weight: 600;
}
.special2{
    color: #FF5400;
}
header{
    background:#FFf;
}
.header-nav{
    max-width: 800px;
    /* background-color: #096e30;*/
    margin: 0 auto;
   /* border: 2px solid blue;*/
   display: flex;
   padding-left: 120px;
   padding-right: 120px;
}
.item-container{
    /*border: 2px solid turquoise;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container a{
    text-decoration: none;
    font-size: 18px;
}
/* banner style */
.banner{
    max-width: 800px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
 text-align: center;
    margin: 0 auto,
    
    
    /* position: relative; */
    /*padding-left: 300px;*/
    /*margin: 0 auto;*/
   /* padding-left: 120px;*/
    /*padding-right: 120px;*/
    


  
  

  
    
}
.banner-titel{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
 margin-top: 70px;
 text-align: center;
 padding-top: 100px;
/*margin-left: 150px; */
/*margin: 40px 0px;*/
padding-left: 90px;


}
.banner-text{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    width: 600px;
    height: 52px;
    margin-top: 50px;
    padding-left: 160px;
    
    text-align: center;
    
     
}
.praimary{
    width: 160px;
height: 40px;
flex-shrink: 0;
font-size: 16px;
font-weight: 400;
border-radius: 8px;
background: #FFFF;
color: rgba(19, 19, 24, 0.50);
text-align: left;
border: 1px solid ;




}
.praimary1{
    width: 160px;
    height: 40px;
   flex-shrink: 0;
   font-size: 16px;
   font-weight: 400;
border-radius: 8px;
background: #FF5400;
color: rgba(19, 19, 24, 0.50);
text-align: left;
border: 1px solid ;




}
.a{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    background: rgba(255, 255, 255, 0.30);
    gap: 50px;
    margin-top: 70px;



}
.banner-section{
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    /*border: 2px solid tomato;*/
    margin-left: 30px;
    width: 800px;
    height: 500px;
    margin-left: 100px;
    border-radius: 16px;
    background: linear-gradient(rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); 
    background-image: url(/Images/pic-a.png);
    background-repeat: no-repeat;

}
@media screen and (max-width: 676px) {
    .header-nav{
        flex-direction: column;
        margin-left: 80px;
    }
    .item-container{
        flex-direction: column;
        margin-left: 70px;
    }
    .banner-titel{
        padding-top: 30px;
        font-size: 22px;
    }
    .a{
        flex-direction: column;
        height: auto;
        padding: 16px;
        width: 175px;
        gap: 10px;
    
    
    
    
    
    }
}


